
.background{
    height: 65vh;
    background: no-repeat;
    background-image: url('../images/upper.jpg');
}

.header-box{
    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    height: 70vh;
    padding: 0;
    margin: 0;
    width: 50%;
    border: solid 1px black;
   
}
.header-sbox{
    display: flex;
    justify-content: space-between;

}
h1{
    color: #fff;
    position: relative;
    left: 10%;
    font-size: 2.4rem;
    cursor: pointer;
}

.icons{
    position: relative;
    right: 10%;
    top: 7.8px;
    height: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

